body {
  margin: 50px;
  background: linear-gradient(0deg, rgb(149, 98, 98) 0%, rgb(118, 34, 34) 100%); 
}

.image-cont {
  height: 300px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 300px;
  width: 150px;
  border-radius: 10px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.movie-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 150px;
  text-align: center;
  padding: 0;
  cursor: pointer;
  transition: transform .2s;
}

.movie-cont:hover {
  transform: scale(1.14)
}

.hOne {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  height: 60px;
}

.modalpOne {
  background: linear-gradient(0deg, rgb(98, 51, 51) 0%, rgb(255, 41, 41) 100%);
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  border: 1.7px solid black;
  
}

.modalContent {
  background-color: rgb(132, 50, 50);
  height: 98%;
  width: 98%;
  display: grid;
  grid-template-columns: 40fr 60fr;
  grid-template-rows: 70fr 30fr;
  grid-template-areas: "spec overview"
                       "spec back";
}

.modalMovieSpec {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: spec;
}

.modalOverview {
  grid-area: overview;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.closeModal {
  grid-area: back;
}

.modalImage {
  margin: 20px;
  height: 300px;
  width: 150px;
  border-radius: 10px;
}
.modalVotes {
  display: flex;
}
.modalhOne {
  font-size: 19px;
  text-align: center;

}
.modalOverviewP {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 10px;
  text-align: justify;
}
.closeModal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeModalBtn {
  height: 40px;
  width: 80px;
  font-weight: bold;
  background: linear-gradient(0deg, rgb(98, 51, 51) 0%, rgb(255, 41, 41) 100%);
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 0.2em #8e0d0d, 0 0.3em rgba(0, 0, 0, 0.4);
  position: relative;
  top: 0;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.closeModalBtn:hover {
  top: 0.2em;
  box-shadow: 0 0.3em #7c1010, 0 0.5em rgba(0, 0, 0, 0.4);
}

.closeModalBtn:active {
  top: 0.4em;
  box-shadow: 0 0.2em #910f0f, 0 0.5em rgba(0, 0, 0, 0.4);
}